/*  
    회사에서 사용되는 메뉴얼(업무)
    기능 : 외부에서 자주 사용되는 스타일시트 문서를 작성용
    작성자 : 홍길동
    작성날짜 : 2023.12.29.금

*/

h4,h3 {
    font-family:돋움체 바탕체 샘물체; /* 글자체- 여러개가 나오는 경우(우선순위별로 나열-주로 영문에 사용)
                                                                    앞에 글자체가 적용안되면 그다음 글자체 적용되도록*/
    color:green; /* 글자색 */
    font-size:27pt; /* 글자 크기 */
    font-weight:bold; /* 글자 굵게(강조) - 디폴트값 (normal) /bold-> bolder / lighter / 200 / 300 ~
                                                        - Strong, b 태그와 같은 효과 */

}