/*
2번째 방법
*/
body{
     background-color:linen;
     color:blueviolet;
     margin-left:30px; /* 왼쪽여백 (바깥여백)*/
     margin-right:30px; /* 오른쪽 여백 */
}
h3{text-align:center; /* aline="left , cesnter , right" -> text-align 사용 */
     color:darkred;
     
}