/* 
파일명 : main.css
기능 : pc상태에서 보여주는 스타일시트 화면용
작성날짜 : 2024.01.09
작성자 : 윤라영
*/
/* 상단메뉴 부분 좌측상단에 고정하기 위해 작성 */

/* 로고글씨체 */
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 본문글씨체 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* { 
    margin: 0;
    padding: 0;
    background-color: rgb(255, 252, 240);
}
.wrap{
    width: 1000px; /* width:70% => 양쪽 여백은 15%+15%=30% */
    margin: 0 auto; /* 좌우여백 자동 조절 */
}
/* pc상태에서는 넓이 768px보다 크면 보이지 않게 설정해주는 요소 */
.hd2, .sc2, .sc3{display: none;}
h1{
    float: left;
    position: relative;
    left: 3%; /* left:30px;*/
    top: 30px; /* 멘 처음에 나오는 이미지의 위치 설정부분 */
    font-family: 'PartialSansKR-Regular';
    text-decoration: none;
    color: rgb(104, 54, 30);
}
/* 회사로고 이미지 옆에 상단 메뉴 배치 */
.nv1{
    font-family: 'Pretendard-Regular';
    width: 60%; /* 전체넓이 1000px=100% => 60%=600px 정도 */
    height: 50px; /* 회사 로고 이미지와 같은 선을 맞추기 위해서 */
    border-bottom: 1px solid black; /* 영역 확인용 */
    float: left; /* left->left......right */
    position: relative; /* .nv2를 .nv1을 기준으로 오른쪽 배치 (relative)*/
    left: 5%;
    top: 30px;
    z-index: 5; /* 동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index) */
}
ul{ list-style-type: none;} /* 메뉴의 마크 제거 list-style: none; */
/* 
    대상자 : hover->마우스를 갔다댈때(=>onmouseover / onmouseout => 소스코드로 작성)
    Shopping , Event, About us 색깔지정 (배경색)
    태그명.클래스명:hover
*/
.main1:hover{
    background-color: #f7c848; /* 진한정도(중간)*/
    color: white;

}
.main2:hover{
    background-color: #f7c848;
    color: white;
}
.main3:hover{
    background-color: #f7c848;
    color: white;
}
.a1:hover{
    background-color: #f7c848;
    color: white;
}
/* 
    1단계 메뉴의 위치 설정
    거리감 : 조금 움직이는 경우 -> %보다는 px로 설정
                어느 정도 움직이는 경우 (폭 큰경우)-> %로 계산 width: 80% , margin:0 auto
*/
.main1{
    position: absolute;
    left: 14%; /* 70px */
    top: 10px;
	transition: .2s ease-in-out; /*menu 애니메이션 효과*/
	transform : translateY (-20px);
}
.main2{
    position: absolute; /* 인접한 태그를 기준으로 삼기때문에 여기는 absolute를 써야된다.*/
    left: 43%;
    top: 10px;
    transition: .2s ease-in-out;
	transform : translateY (-20px);
}
.main3{
    position: absolute;
    right: 17%; /* */
    top: 10px;
    transition: .2s ease-in-out;
	transform : translateY (-20px);
}
/* 
서브메뉴를 안나오게 설정 1) absolute 사용 -> top:-9999를 이용해서 우로 배치
                                    2) display:none;-> block, inline, inline-block
*/
.sub{
    display: none; /*안보이는 부분은 보이게 설정해서 영역확인 후 나중에 최종 설정 */
    position: absolute; /* left, top을 이용해서 배치가 쉽기때문에  */
    top: 40px;
    left: 77px;
    transition: .2s ease-in-out;
	transform : translateY (-20px);
}
.a1{
    width: 120px;
}
.sub li, .sub li a{ /* 유형별 제품의 항목의 색깔 */
    z-index: 15; /* 숫자가 크면 맨앞에 배치 */
    color: purple;
}
/* 3단계 메뉴 오른쪽에 배치 */
.sub1{
    display: none;
    float: right;
    position: relative; /* absolute;-> left, top 계산  */
    width: 120px;
    z-index: 2;
}
.sub1 a:hover{
    background-color: #f7c848;
    color: white;
}
/* 여백 주기(메뉴와 테두리선) */
.nv1 div a{ /* nv1에 있는 3개의 div에 들어있는 메뉴항목 글자 */
    display: inline-block; /*
                                        가로로 정렬하면서(inline), width, height을 줄경우
                                        줄바꿈도 되어야 하는경우에 사용하는 속성
                                    */
    padding: 10px;
    color: black;
    text-decoration: none;
}
.nv2{
    font-family: 'Pretendard-Regular';
    width: 13%;
    height: 50px;
    /* border: 1px solid black; */
    float: right;
    position: relative;
    top: 30px;
    right: 0%;
}
.nv2 ul>li {
    float: left;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 11px;
}
.nv2 ul li a{
    display: inline-block;
    padding: 5px;
    color: black;
    text-decoration: none;
}
.nv2 ul li a:hover{
    background-color: #f7c848;
    color: white;
}
.cycle-slideshow{
    position: relative;
    top: 120px;
    z-index: 1;
}
.cycle-slideshow img{
    height: 350px;
}
.at1{
    margin-top: 30px;
    width: 65%; 
    height: 300px; 
    /* border: 1px solid black;  */
    float: left; 
    position: relative; 
    /* left: 3%; */
    top: 100px;
    z-index: 3; /*동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index)*/
}
.d1>figure> a img{
    padding: 10px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black;  */
    display: inline-block;
    position: absolute;
    top: 40px;
    left:0%;
    z-index: 6; /* 동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index) */
}
.d2>figure>a img{
    padding: 10px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black;  */
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 215px;
    z-index: 6; /* 동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index) */
}
.d3>figure>a img{
    padding: 10px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black;  */
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 430px;
    z-index: 6; /* 동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index) */
}
.d1>figure> a:hover{
    opacity:0.8;
}
.d2>figure> a:hover{
    opacity:0.8;
}
.d3>figure> a:hover{
    opacity:0.8;
}
div figure a{
    color: black;
    text-decoration: none;
}
.at11{
    
    margin-top: 80px;
    width: 100%; 
    height: 300px; 
    /* border: 1px solid black;  */
    float: left; 
    position: relative; 
    /* left: 3%; */
    top: 100px;
    z-index: 3; /*동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index)*/
}
.at11>h2{
    text-align: center;
}
.d11>figure>a img{
    padding: 10px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black;  */
    display: inline-block;
    position: absolute;
    top: 40px;
    left:0%;
    z-index: 6; /* 동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index) */
}
.d22>figure>a img{
    padding: 10px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black;  */
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 215px;
    z-index: 6; /* 동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index) */
}
.d33>figure>a img{
    padding: 10px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black;  */
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 430px;
    z-index: 6; /* 동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index) */
}
.d44>figure>a img{
    padding: 10px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black;  */
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 645px;
    z-index: 6; /* 동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index) */
}
.d55>figure>a img{
    padding: 10px;
    width: 100px;
    height: 200px;
    /* border: 1px solid black;  */
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 860px;
    z-index: 6; /* 동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치 (z-index) */
}
.d11>figure> a:hover{
    opacity:0.8;
}
.d22>figure> a:hover{
    opacity:0.8;
}
.d33>figure> a:hover{
    opacity:0.8;
}
.d44>figure> a:hover{
    opacity:0.8;
}
.d55>figure> a:hover{
    opacity:0.8;
}
div figure a{
    color: black;
    text-decoration: none;
}
.fc1{
    font-size: 11px;
    float: left;
    position: relative;
    left: 12px;
    top: 240px;
}
.fc2{
    font-size: 11px;
    float: left;
    position: relative;
    left: 60px;
    top: 240px;
}
.fc3{
    font-size: 11px;
    float: left;
    position: relative;
    left: 105px;
    top: 240px;
}
.fc11{
    font-size: 12px;
    float: left;
    position: relative;
    left: 12px;
    top: 240px;
    font-weight: bold;
}
.fc22{
    font-size: 12px;
    float: left;
    position: relative;
    left: 40px;
    top: 240px;
    font-weight: bold;
}
.fc33{
    font-size: 12px;
    float: left;
    position: relative;
    left: 60px;
    top: 240px;
    font-weight: bold;
}
.fc44{
        font-size: 12px;
        float: left;
        position: relative;
        left: 100px;
        top: 240px;
        font-weight: bold;
}
.at2{
    margin-top: 30px;
    width: 33%;
    height: 300px;
    /* border: 1px solid black;  */
    float: right;
    position: relative;
    top: 100px;
    z-index: 2;
}
.at2>img{
    width: 110px;
    height: 200px;
    position: relative;
    top: 20px;
    z-index: 1;
    display: inline-block;
    /* border: 1px solid black;  */
}
#dv1{
    z-index: 5;
    position: relative;
    left: 110px;
    top: -160px;
    /* display: inline-block; */
    /* border: 1px solid black;  */
}
.at3>embed{
    position: relative;
    top: 100px;
    width: 450px;
    height: 300px;
    margin: 50px 50px 50px 10px;
}
.at4>img{
    float: right;
    width: 450px;
    height: 300px;
    position: relative;
    top: -255px;
    right: 20px;
}
.ft1{
    clear: both;
    /* border: 1px solid black; */
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: -150px;
}
.nv3{
    position: relative;
    top: 20px;
    font-family: 'Pretendard-Regular';
}
.nv3 ul>li{
    float: left;
    margin-left: 4.3%;
}
.nv3 ul>li a{
color: black;
text-decoration: none;
font-size: 13px;
}
/* .l1{
    padding: 10px 0px;
} */
.nv4{
    position: relative;
    top: 40px;
    font-family: 'Pretendard-Regular';
}
.nv4 ul{
    list-style-type: none;
}
.nv4 ul>li {
    float: left;
    margin-left: 3%;
    font-size: 11px;
}
#btn1, #btn2{
    background-color: #f7c848;
    color: black;
    border: 1px solid #a09e9a
}
#star{
    width: 30px;
    height: 30px;
}